body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(70, 0, 110);
    padding: 1em;
    border-radius: 0.5em;
}

form {
    border: 1px solid whitesmoke;
    border-radius: 0.3em;
    padding: 0.3em;
}

h4 {
    color: black;
    display: flex;
    align-items: center;
    justify-content: left;
}

span {
    color: black;
    display: flex;
    align-items: center;
    justify-content: right;
}

li {
    display: inline-block;
    height: 100px;
    width: 500px;
    
    background-color: rgb(221, 221, 221);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.3em;
    padding: 0.3em;
}

ul {
    text-align: right;
}

a {
    text-decoration: none;
}