<!DOCTYPE html>
<html lang="pt-br" ng-app="kingsPhone">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <script src="app.js"></script>
    <title>KingsPhone</title>
</head>
<body>

    <header>
    <div>
        <h1>KingsPhone</h1>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <h3>Search</h3>
            <input type="text" ng-model="query" placeholder="Search...">
        </div>
        <h3>Ordenar por</h3>
        <select ng-model="orderProp">
          <option value="name">Brand</option>
          <option value="description">Description</option>
        </select>

    </header>

    <br>
    <div class="container" ng-controller="Home">
    <h2>Catalogo</h2>

    <ul id="phoneList">
        <li ng-repeat="phone in phone | filter:query">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" ng-src="{{phone.images[0]}}">
                    <div class="caption text-center">
                        <h4>{{phone.name}}</h4>
                    </div>
                </div> 
                <div class="panel-footer text-center">
                    <a class="btn btn-default" role="button" href="#">
                    <i class="glyphicon glyphicon-zoom-in"></i> Detalhes
                    </a> 
                </div>
            </div>
        </li>
    </ul>
    

</div>
</body>
    
   

</html>